<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="home.css">
	<script src="home.js" type="text/javascript"></script>
</head>
<body>
	<body id="lama-theme" class="index">
		<div class="main-body layoutProduct_scroll sidebar-move">
			<header id="site-header" class="main-header mainHeader_temp01 header-style">
				<div class="dv-comback-home">
					<a class="comback-home" href="webchatbot.html"><i style="font-size:24px" class="fa">&#xf060;</i> Quay tro lai trang chu</a>
				</div>

			</header>
			<div class="item-res">

				<div class="col-sm-4 boder-food">
					<div class="row padding-right-15px">
						<div class="col-sm-3 col-xs-3">
							<div class="item-res-img overflow-hidden false"><img src="menu1.jpg" class=""></div>
						</div>
						<div class="col-sm-6 col-xs-9">

							<div class="content-food">
								Nước lẩu Hongkong Thượng Hạng chua cay
							</div>

							<div class="col-xs-8 padding-0px">

								<div class="main-add-block-content padding-0px">

								</div>
								<div class="main-price-block-content padding-0px cart-price-blockcontent">
									Giá sản phẩm : 90.000
								</div>


							</div>
							<div class="col-xs-4">
								<a href="/cart/change?line=1&amp;quantity=0" class="cart cart-close">
									<img src="ic_close.png">
								</a>

							</div>
						</div>


					</div>
				</div>
				<div class="col-sm-4 boder-food">
					<div class="row padding-right-15px">
						<div class="col-sm-3 col-xs-3">
							<div class="item-res-img overflow-hidden false"><img src="menu2.jpg" class=""></div>
						</div>
						<div class="col-sm-6 col-xs-9">

							<div class="content-food">
								Nước lẩu Hongkong Thượng Hạng chua cay
							</div>

							<div class="col-xs-8 padding-0px">
								<div class="main-add-block-content padding-0px">
									Topping:50% duong
								</div>
								<div class="main-add-block-content padding-0px">
									số lượng : 1
								</div>
								<div class="main-price-block-content padding-0px cart-price-blockcontent">
									Giá sản phẩm : 90.000
								</div>


							</div>
							<div class="col-xs-4">
								<a href="/cart/change?line=1&amp;quantity=0" class="cart cart-close">
									<img src="ic_close.png">
								</a>
							</div>
						</div>

					</div>
				</div>
				<div class="col-sm-4 boder-food">
					<div class="row padding-right-15px">
						<div class="col-sm-3 col-xs-3">
							<div class="item-res-img overflow-hidden false"><img src="menu3.jpg" class=""></div>
						</div>
						<div class="col-sm-6 col-xs-9">

							<div class="content-food">
								Nước lẩu Hongkong Thượng Hạng chua cay
							</div>

							<div class="col-xs-8 padding-0px">

								<div class="main-add-block-content padding-0px">
									số lượng : 1
								</div>
								<div class="main-price-block-content padding-0px cart-price-blockcontent">
									Giá sản phẩm : 90.000
								</div>


							</div>
							<div class="col-xs-4">
								<a href="/cart/change?line=1&amp;quantity=0" class="cart cart-close">
									<img src="ic_close.png">
								</a>
							</div>
						</div>

					</div>
				</div>
				<div class="col-sm-4 boder-food">
					<div class="row padding-right-15px">
						<div class="col-sm-3 col-xs-3">
							<div class="item-res-img overflow-hidden false"><img src="menu4.jpg" class=""></div>
						</div>
						<div class="col-sm-6 col-xs-9">

							<div class="content-food">
								Nước lẩu Hongkong Thượng Hạng chua cay
							</div>

							<div class="col-xs-8 padding-0px">

								<div class="main-add-block-content padding-0px">
									số lượng : 1
								</div>
								<div class="main-price-block-content padding-0px cart-price-blockcontent">
									Giá sản phẩm : 90.000
								</div>


							</div>
							<div class="col-xs-4">
								<a href="/cart/change?line=1&amp;quantity=0" class="cart cart-close">
									<img src="ic_close.png">
								</a>
							</div>
						</div>

					</div>
				</div>
				<div class="col-sm-4 boder-food">
					<div class="row padding-right-15px">
						<div class="col-sm-3 col-xs-3">
							<div class="item-res-img overflow-hidden false"><img src="menu5.jpg" class=""></div>
						</div>
						<div class="col-sm-6 col-xs-9">

							<div class="content-food">
								Nước lẩu Hongkong Thượng Hạng chua cay
							</div>

							<div class="col-xs-8 padding-0px">

								<div class="main-add-block-content padding-0px">
									số lượng : 1
								</div>
								<div class="main-price-block-content padding-0px cart-price-blockcontent">
									Giá sản phẩm : 90.000
								</div>


							</div>
							<div class="col-xs-4">
								<a href="/cart/change?line=1&amp;quantity=0" class="cart cart-close">
									<img src="ic_close.png">
								</a>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
		<div class="border-dote">

		</div>
		<div class="modune-done">
			<div class="col-sm-9 col-xs-8 dvmoney">
				<p class="dv-gtdh">Tổng giá trị đơn hàng:</p>
				<p class="dvmoney-money">440.000d</p>
			</div>
			<div class="col-sm-4 col-xs-4">

				<div class="dv-done">Gọi món</div>
				
			</div>
		</div>
		<script>

			var modal = document.getElementById("myModal");
			var span = document.getElementsByClassName("close")[0];
			var addproduct = document.getElementsByClassName("btn-addproduct");
			$('.myBtn').click(function() {
				modal.style.display = "block";
			})
			span.onclick = function() {
				modal.style.display = "none";
			}
			window.onclick = function(event) {
				if (event.target == modal) {
					modal.style.display = "none";
				}
			}
			$('.btn-addproduct').click(function() {
				modal.style.display = "none";
			})
		</script>

		<script type="text/javascript">

			$('body').on('click', '.js-link', function(e){
				e.preventDefault();
				boxAccount($(this).attr('aria-controls'));
			});
			$('.site_account input').blur(function(){
				var tmpval = $(this).val();
				if(tmpval == '') {
					$(this).removeClass('is-filled');
				} else {
					$(this).addClass('is-filled');
				}
			});
			$('.header-action-toggle').click(function(e){
				e.preventDefault();		
				if($(this).parents('.header-action').hasClass('show-action')){
					$('body').removeClass('locked-scroll');
					$(this).parents('.header-action').removeClass('show-action');
				}
				else{
					$('.header-action').removeClass('show-action');
					$('body').addClass('locked-scroll');
					$(this).parents('.header-action').addClass('show-action');		
				}		
			});
			$('body').on('click', '#site-overlay', function(e){
				$('body').removeClass('locked-scroll');
				$('.header-action').removeClass('show-action');
			});

	//menu-mobile
	$('.list-root li a').click(function(e){
		if ($(this).find('i').length){
			e.preventDefault();
			var menu_child_id = $(this).parent().data('menu-root');
			$('.list-root').addClass('mm-subopened');
			$('#' + menu_child_id).addClass('mm-opened');
		} 
	})
	$('.list-child li:first-child a').click(function(){
		$(this).parents('.list-child').removeClass('mm-opened');
		$('.list-root').removeClass('mm-subopened');
	})
	$('.list-child li.level-2 a').click(function(e){
		if ($(this).find('i').length){
			e.preventDefault();
			var menu_sub_id = $(this).parent().data('menu-root');
			$('li.level-2').addClass('mm-subopened');
			$('#' + menu_sub_id).addClass('mm-sub');
		} 
	})
	$('.sub-child li:first-child a').click(function(){
		$(this).parents('.sub-child').removeClass('mm-sub');
		$('.list-child').removeClass('mm-subopened');
	})
	$(document).on("click",".sub-child li.level-3 a",function(e){
		if ($(this).find('i').length){
			e.preventDefault();
			var menu_subnav_id = $(this).parent().data('menu-root');
			$('li.level-3').addClass('mm-open-3');
			$('#' +  menu_subnav_id).addClass('mm-sub-3');
		} 
	});
	$(document).on("click",".sub-child-3 li:first-child a",function(e){
		$(this).parents('.sub-child-3').removeClass('mm-sub-3');
		$('.sub-child').removeClass('mm-open-3');
	});
	jQuery('.title_block').click(function(){
		$(this).next().slideToggle('medium');
	});    
	$(document).on("click",".dropdown-filter", function(){
		if ( $(this).parent().attr('aria-expanded') == 'false' ) {
			$(this).parent().attr('aria-expanded','true');
		} else {
			$(this).parent().attr('aria-expanded','false');
		}
	});
	// Mainmenu sidebar
	$(document).on("click", "span.icon-subnav", function(){
		if ($(this).parent().hasClass('active')) {
			$(this).parent().removeClass('active');
			$(this).siblings('ul').slideUp();
		} else {
			if( $(this).parent().hasClass("level0") || $(this).parent().hasClass("level1")){
				$(this).parent().siblings().find("ul").slideUp();
				$(this).parent().siblings().removeClass("active");
			}
			$(this).parent().addClass('active');
			$(this).siblings('ul').slideDown();
		}
	});
	// Menu sidebar
	$(document).on('click','.tree-menu .tree-menu-lv1',function(){
		$this = $(this).find('.tree-menu-sub');
		$('.tree-menu .has-child .tree-menu-sub').not($this).slideUp('fast');
		$(this).find('.tree-menu-sub').slideToggle('fast');
		$(this).toggleClass('menu-collapsed');
		$(this).toggleClass('menu-uncollapsed');
		var $this1 = $(this);
		$('.tree-menu .has-child').not($this1).removeClass('menu-uncollapsed');
	});
</script> 
</body>
</html>