<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/dist/css/home.css"/>
    <script src="/dist/js/home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body id="lama-theme" class="index">
<div class="main-body layoutProduct_scroll sidebar-move">
    <header id="site-header" class="main-header mainHeader_temp01 header-style">
        <div class="dv-comback-home">
            <a class="comback-home" th:href="@{/home}"><i style="font-size:24px" class="fa">&#xf060;</i> Quay trở lại
                trang chủ</a>
        </div>

    </header>
    <div class="item-res">
        <h4 th:if="${#lists.isEmpty(list)}">Chưa có sản phẩm nào</h4>
        <th:block  th:unless="${#lists.isEmpty(list)}" th:each="cart : ${list}">
            <div class="col-sm-4 boder-food">
                <div class="row padding-right-15px">
                    <div class="col-sm-3 col-xs-3">
                        <div class="item-res-img overflow-hidden false"><img th:src="${cart.product.getImg()}" class="img-cart"></div>
                    </div>
                    <div class="col-sm-6 col-xs-9">

                        <div class="content-food-cart" th:text="${cart.product.getName()}">

                        </div>

                        <div class="col-xs-8 padding-0px">
                            <div class="main-add-block-content padding-0px content-accessory-cart" th:text="${cart.accessory}">

                            </div>
                            <div class="main-add-block-content padding-0px content-quantity-cart">
                                số lượng : <span th:text="${cart.quantity}"></span>
                            </div>
                            <div class="main-price-block-content padding-0px cart-price-blockcontent">
                                Giá sản phẩm : <span th:text="${cart.product.getPrice()}"></span>
                            </div>
                            <input type="hidden" id="totalToppingPrice" th:value="${cart.totalToppingPrice}">
                        </div>
                        <div class="col-xs-4">
                            <a class="cart cart-close"    th:attr="data-cartid=${cart.getId()}">
                                <img src="/dist/img/ic_close.png">
                            </a>
                        </div>
                    </div>

                </div>
            </div>

        </th:block>
    </div>
</div>
<div class="border-dote">

</div>
<div class="modune-done">
    <div class="col-sm-9 col-xs-8 dvmoney">
        <p class="dv-gtdh">Tổng giá trị đơn hàng:</p>
        <p class="dvmoney-money" th:text="${totalAmount}"></p>
    </div>
    <div class="col-sm-4 col-xs-4">

        <div class="dv-done" id="btn-check-out">Gọi món</div>

    </div>
</div>
<div id="overlay" style="display:none;">
    <div class="spinner"></div>
    <br/>
    Loading...
</div>
</body>
</html>