<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/dist/css/home.css"/>
    <script src="/dist/js/home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body id="lama-theme" class="index">
<div class="main-body layoutProduct_scroll sidebar-move">
    <header id="site-header" class="main-header mainHeader_temp01 header-style">
        <div data-v-4156c0c9="" id="bt-1588836715849" bt-type="blockColumnOnly" class="block-widget ">
            <div data-v-4156c0c9="" class="block-content">

            </div>
        </div>
        <div class="header-content">
            <div class="row">
                <div class="col-xs-3 padding-0px">
                    <img class="img-header-content" th:src="@{dist/img/logo-header.png}" alt="">
                </div>
                <div class="col-xs-9">
                    <div class="header-block-content">
                        <div class="header-title-block-content">
                            LẨU XUYÊN TIÊU - HONG KONG QUÁN
                        </div>

                        <div class="header-add-block-content">
                            50 Tô Hiến Thành , Đình Bảng , Từ Sơn , Bắc Ninh
                        </div>

                        <div class="header-time-block-content">
                            Thời gian mở cửa : 09:00 - 23:00
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="banner-main">
            <img class="img-banner-main" th:src="@{dist/img/banner-qc.jpg}" alt="">
        </div>
        <!--<div class="header-search-mobile search-bar-mobile">-->
            <!--<div class="search-box wpo-wrapper-search">-->
                <!--<form action="/search" class="searchform searchform-categoris ultimate-search">-->
                    <!--<div class="wpo-search-inner">-->
                        <!--<input type="hidden" name="type" value="product">-->
                        <!--<input required="" id="inputSearchAuto-mb" name="q" maxlength="40" autocomplete="off"-->
                               <!--class="searchinput input-search search-input" type="text" size="20"-->
                               <!--placeholder="Tìm kiếm sản phẩm..." aria-label="Search">-->
                        <!--<span class="close-search"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"-->
                                                        <!--viewBox="0 0 24 24"><path-->
                                <!--d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path></svg></span>-->
                    <!--</div>-->
                    <!--<button type="submit" class="btn-search btn" id="search-header-btn-mb" aria-label="Tìm kiếm">-->
                        <!--<svg version="1.1" class="svg search" xmlns="http://www.w3.org/2000/svg"-->
                             <!--xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 27"-->
                             <!--style="enable-background:new 0 0 24 27;" xml:space="preserve"><path d="M10,2C4.5,2,0,6.5,0,12s4.5,10,10,10s10-4.5,10-10S15.5,2,10,2z M10,19c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7S13.9,19,10,19z"></path>-->
                            <!--<rect x="17" y="17" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -9.2844 19.5856)"-->
                                  <!--width="4" height="8"></rect></svg>-->
                    <!--</button>-->
                <!--</form>-->
                <!--<div id="ajaxSearchResults-mb" class="smart-search-wrapper ajaxSearchResults" style="display: none">-->
                    <!--<div class="resultsContent"></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->


        <div class="addtocart-header">
            <div class="col-xs-6 header-btn-cart" th:text="${totalAmount}">
            </div>
            <div class="col-xs-6 header-btn-plus">
                <a th:href="@{/addToCart}">Giao hàng <span th:text="${'('+quantity +')'}"></span></a>
            </div>
        </div>

    </header>


    <div class="main-menu">
        <th:block th:each="vm : ${listViewModel}">
            <h1 class="title-food" th:text="${vm.getCategoryName()}"></h1>
            <div class="item-res">
                <div class="col-sm-4 boder-food" th:each="p : ${vm.getListProduct()}">
                    <div class="row padding-right-15px">
                        <div class="col-sm-3 col-xs-3">
                            <div class="item-res-img overflow-hidden false"><img
                                    th:src="${p.getImg()}"
                                    class=""></div>
                        </div>
                        <div class="col-sm-6 col-xs-9">
                            <div class="content-food" th:text="${p.getName()}">

                            </div>
                            <div class="col-xs-8 padding-0px">
                                <div class="main-add-block-content padding-0px">
                                    Đã đặt : 2
                                </div>
                                <div class="main-price-block-content padding-0px"  th:text="${p.getPrice()}">
                                    <!--                                <span></span>-->
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <button type="button" class="addtocart-btn-main qtyplus qty-btn myBtn"
                                        th:attr="data-productid=${p.getId()}">+
                                </button>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </th:block>
       <div style="width: 100%; padding: 40px">

       </div>


        <div id="myModal" class="modal">


            <div class="modal-content">
                <span class="close">&times;</span>
                <div class="item-res padding-0px">

                    <div class="col-sm-4 boder-food">
                        <div class="row padding-right-15px">
                            <div class="col-sm-3 col-xs-3">
                                <div class="item-res-img overflow-hidden false"><img
                                        src=""
                                        class="content-food-img"></div>
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <input type="hidden" id="content-food-id">
                                <div class="content-food-name content-food">

                                </div>
                                <div class="content-food">
                                    Giá : <span class="content-food-price"></span>
                                </div>

                            </div>
                            <div class="col-sm-3 col-xs-3 padding-0px">
                                <div class="qty quantity-partent qty-click clearfix">
                                    <button type="button" name="quantity" class="qtyminus qty-btn"
                                            onclick="minusQuantity()">-
                                    </button>
                                    <input type="text" size="4"
                                           name="quantity" min="1" id="updates_1057974864" data-price="10000000"
                                           value="1" class="tc line-item-qty item-quantity">
                                    <button type="button" name="quantity" class="qtyplus qty-btn"
                                            onclick="plusQuantity()">+
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="layered-content bl-filter filter-price">
                    <ul class="check-box-list" id="check-list-topping">


                    </ul>
                </div>

                <button class="btn-addproduct">
                    Thêm vào giỏ hàng
                </button>
            </div>


        </div>
    </div>

</div>


</body>

</html>