<!-- sidebar: style can be found in sidebar.less -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<section class="sidebar" th:fragment="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="active treeview">
            <a href="#">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
        </li>
        <th:block sec:authorize="hasAuthority('ROLE_CUSTOMER')">
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder"></i>
                    <span>Khách hàng</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/customers/add"><i class="fa fa-circle-o"></i> Thêm khách hàng</a></li>
                </ul>
                <ul class="treeview-menu">
                    <li><a href="/customers"><i class="fa fa-circle-o"></i> Danh sách khách hàng</a></li>
                </ul>
            </li>
        </th:block>
        <th:block sec:authorize="hasAuthority('ROLE_PRODUCT')">
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder"></i>
                    <span>Sản phẩm</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/product/add"><i class="fa fa-circle-o-"></i> Thêm sản phẩm</a></li>
                </ul>
                <ul class="treeview-menu">
                    <li><a href="/product"><i class="fa fa-circle-o"></i> Danh sách sản phẩm</a></li>
                </ul>
            </li>
        </th:block>
        <th:block sec:authorize="hasAuthority('ROLE_ACCESSORY')">
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder"></i>
                    <span>Phụ kiện</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/accessory/add"><i class="fa fa-circle-o"></i> Thêm phụ kiện</a></li>
                </ul>
                <ul class="treeview-menu">
                    <li><a href="/accessory"><i class="fa fa-circle-o"></i> Danh sách phụ kiện</a></li>
                </ul>
            </li>
        </th:block>
        <th:block sec:authorize="hasAuthority('ROLE_CATEGORY')">
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder"></i>
                    <span>Danh mục</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/category/add"><i class="fa fa-circle-o"></i> Thêm danh mục</a></li>
                </ul>
                <ul class="treeview-menu">
                    <li><a href="/category"><i class="fa fa-circle-o"></i> Danh sách danh mục</a></li>
                </ul>
            </li>
        </th:block>
        <li class="treeview" sec:authorize="hasRole('ADMIN')">
            <a href="#">
                <i class="fa fa-folder"></i>
                <span>Nhân viên</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/user/add"><i class="fa fa-circle-o"></i> Thêm nhân viên</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/user"><i class="fa fa-circle-o"></i> Danh sách nhân viên</a></li>
            </ul>
        </li>
        <li class="treeview" sec:authorize="hasRole('ADMIN')">
            <a href="#">
                <i class="fa fa-folder"></i>
                <span>Quyền</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/role/add"><i class="fa fa-circle-o"></i> Thêm quyền</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/role"><i class="fa fa-circle-o"></i> Danh sách quyền</a></li>
            </ul>
        </li>

    </ul>
</section>
<!-- /.sidebar -->
